In [108]:
import pandas as pd

ci_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

cc_filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

identifiers = pd.read_csv(ci_filepath)

characteristics =pd.read_csv(cc_filepath)

In [109]:
identifiers.head()

identifiers["PersonBirthDate_dt"] = pd.to_datetime(identifiers['PersonBirthDate'], format = "%Y-%m-%d")

identifiers.head()

identifiers["PersonBirthDate_dt"] = pd.to_datetime(identifiers['PersonBirthDate'], format = "%Y-%m-%d")


identifiers["PersonDeathDate_dt"] = pd.to_datetime(identifiers['PersonDeathDate'], format = "%Y-%m-%d", errors="coerce")


identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
 9   PersonBirthDate_dt       332 non-null    datetime64[ns]
 10  PersonDeathDate_dt       20 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(5)
memory usage: 28.7+ KB

In [110]:
identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
 9   PersonBirthDate_dt       332 non-null    datetime64[ns]
 10  PersonDeathDate_dt       20 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2), object(5)
memory usage: 28.7+ KB

In [112]:
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                           'Age at contact':[6, 12, 11, 1, 19],
                           'SEX':['M', 'm', 'F', '', 'F'],
                           'Birthday':['01/01/2002', '02/02/2003', '01/01/2000', '03/03/2023', '06/01/2012'],
                           'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([{'ChildId':'id1',
                             'NHS Number':'303'},
                             {'ChildId':'id2',
                              'NHS Number':'3u5029'},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                             ])

child_info['Birthday_dt'] = pd.to_datetime(child_info['Birthday'], dayfirst= True, errors='coerce')

child_info['Age'] = child_info['Birthday_dt'].apply (lambda row: relativedelta(pd.to_datetime('today'), row).years)
 

child_info

NameError: name 'relativedelta' is not defined

In [ ]:
identifiers['Age'] = identifiers['PersonBirthDate_dt'].apply(lambda x: relativedelta(pd.to_datetime('today'), x).years)
 
identifiers.head()

In [ ]:
# pip install openpyxl
import openpyxl

filepath = r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx"

# with an excel, if oyu're reading multiple sheets, they come stored in a dictionary
# with sheet names as keys and dfs as values
df_dict = pd.read_excel(filepath, sheet_name=None)

print(df_dict.keys())

df_dict['Child Data']

{'Child Data':   ChildID Sex        DOB EHCP issued
 0     id1   M 2014-12-05           N
 1     id6   m 2016-01-06           n
 2     id4   m 2013-11-09           Y
 3     id3   F 2022-12-24           Y
 4     id5   F 2020-01-15         NaN
 5     id7   f 2022-09-17           y,
 'Child extras':   ChildID  Assessment Code
 0     id1                1
 1     id5                2
 2     id4                3
 3     id3                4
 4     id6                5
 5     id7                6,
 'Sheet3':    Assessment Code Assessment Outcome
 0                1                  Y
 1                2                  N
 2                3                  N
 3                4                  n
 4                5                  y
 5                6                  N}

In [120]:
#print(child_info.columns)

#print(nhs_numbers.columns)

child_info = pd.merge(child_info, nhs_numbers, left_on= 'ChildId', right_on= 'ChildId', how = 'left')

child_info

,ChildId,Age at contact,SEX,Birthday,CP Plan?,Birthday_dt,NHS Number_x,NHS Number_y,NHS Number
0,id1,6,M,01/01/2002,Y,2002-01-01,303,303,303
1,id2,12,m,02/02/2003,n,2003-02-02,3u5029,3u5029,3u5029
2,id3,11,F,01/01/2000,N,2000-01-01,gqw3,gqw3,gqw3
3,id4,1,,03/03/2023,No,2023-03-03,avsgvb,avsgvb,avsgvb
4,id5,19,F,06/01/2012,yES,2012-01-06,varwvw,varwvw,varwvw

In [128]:
#print(characteristics.columns)

#print(identifiers.columns)

identifiers = pd.merge(identifiers, characteristics, left_on= 'LAchildID', right_on= 'LAchildID', how = 'left')

identifiers

,Unnamed: 0_x,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,PersonDeathDate_dt,Unnamed: 0_y,Ethnicity
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-12-06,NaT,0,WIRT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-04-27,NaT,1,WROM
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-06-06,NaT,2,AOTH
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-10-03,NaT,3,MWBC
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-09-25,NaT,4,APKN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-07-07,NaT,327,WOTH
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-08-14,NaT,328,WROM
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-12-09,NaT,329,BCRB
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-07-23,NaT,330,AIND
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-10-25,NaT,331,WBRI

In [129]:
df = df_dict['Child Data'].merge(df_dict['Child extras'], how='left', on='ChildID').merge(df_dict['Sheet3'], how='left', on='Assessment Code')

df

  ChildID Sex        DOB EHCP issued  Assessment Code Assessment Outcome
0     id1   M 2014-12-05           N                1                  Y
1     id6   m 2016-01-06           n                5                  y
2     id4   m 2013-11-09           Y                3                  N
3     id3   F 2022-12-24           Y                4                  n
4     id5   F 2020-01-15         NaN                2                  N
5     id7   f 2022-09-17           y                6                  N