In [181]:
var_1 = "Words"
var_2 = 10
var_3 = 10.5
var_4 = [10, 10.5, "Hello",["boom", "yo"] ] #list in square brackets
var_5 = {"Key_1": var_1, "key_2":var_2}
print(var_5["Key_1"])
print(var_5.items())
print(var_5.keys())
print(var_5.values())

Words
dict_items([('Key_1', 'Words'), ('key_2', 10)])
dict_keys(['Key_1', 'key_2'])
dict_values(['Words', 10])

In [182]:
# pandas
import pandas as pd # importing pandas with the alias pd
import os #allows you to use filepaths on your operating system

filepath = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/1980%202023%20average%20house%20prices.csv"

house_prices = pd.read_csv(filepath)
type(house_prices) #dateframe is pandas word for tabular data
#standard variable name for dataframes is df
#house_prices.info()   this gives you table info, ie metadata
# house_prices.head(20)  gives to 20 rows
#house_price.tale(20) gives bottom 20 rows
#house_prices.info()
house_prices["Period_dt"] = pd.to_datetime(house_prices["Period"], format="%Y-%m")
house_prices["Period_dt"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 523 entries, 0 to 522
Series name: Period_dt
Non-Null Count  Dtype
--------------  -----
523 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 4.2 KB

In [183]:


# filepath = "c://shared_drive/903/2025/list_9.csv" # examples for reading from 

filepath2 = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"

child_data = pd.read_csv(filepath2)
#standard variable name for dataframes is df
#house_prices.info()   this gives you table info, ie metadata
# house_prices.head(20)  gives to 20 rows
#house_price.tale(20) gives bottom 20 rows


child_data["PersonBirthDate_dt"] = pd.to_datetime(child_data["PersonBirthDate"], format = "%Y-%M-%d")
child_data["ExpectedPersonBirthDate_dt"] = pd.to_datetime(child_data["ExpectedPersonBirthDate"], format = "%Y-%M-%d")
child_data["PersonDeathDate_dt"] = pd.to_datetime(child_data["PersonDeathDate"], format = "%Y-%M-%d", errors = "coerce" )
child_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  332 non-null    int64
 1   LAchildID                   332 non-null    object
 2   UPN                         332 non-null    object
 3   FormerUPN                   0 non-null      float64
 4   UPNunknown                  0 non-null      float64
 5   PersonBirthDate             332 non-null    object
 6   ExpectedPersonBirthDate     7 non-null      object
 7   GenderCurrent               332 non-null    int64
 8   PersonDeathDate             21 non-null     object
 9   PersonBirthDate_dt          332 non-null    datetime64[ns]
 10  ExpectedPersonBirthDate_dt  7 non-null      datetime64[ns]
 11  PersonDeathDate_dt          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.3+ KB

In [184]:
# max, min, meadian, mean, sum

max_change = house_prices["Percentage change (monthly) All property types"].max()
min_change = house_prices["Percentage change (monthly) All property types"].min()
sum_change = house_prices["Percentage change (monthly) All property types"].sum()

print(f"Max change: {max_change}, min change: {min_change}")

median_price = house_prices["Average price All property types"].median()
mean_price = house_prices["Average price All property types"].mean()

print(median_price)
print(mean_price)

condition = house_prices["Average price All property types"] < mean_price

less_than_mean = house_prices[condition]

less_than_mean

Max change: 13.29, min change: -4.79
97964.0
120570.55831739961

,Name,Period,House price index All property types,Average price All property types,Percentage change (monthly) All property types,Percentage change (yearly) All property types,Period_dt
0,United Kingdom,1980-01,10.11,19273,3.94,28.59,1980-01-01
1,United Kingdom,1980-02,10.11,19273,3.94,28.59,1980-02-01
2,United Kingdom,1980-03,10.11,19273,3.94,28.59,1980-03-01
3,United Kingdom,1980-04,10.51,20044,4.00,24.15,1980-04-01
4,United Kingdom,1980-05,10.51,20044,4.00,24.15,1980-05-01
...,...,...,...,...,...,...,...
269,United Kingdom,2002-06,59.43,113304,4.09,17.41,2002-06-01
270,United Kingdom,2002-07,59.90,114214,0.80,14.25,2002-07-01
271,United Kingdom,2002-08,61.23,116743,2.21,16.78,2002-08-01
272,United Kingdom,2002-09,62.72,119576,2.43,19.61,2002-09-01
273,United Kingdom,2002-10,63.19,120486,0.76,22.99,2002-10-01

In [ ]:

collect_end = pd.to_datetime("31/03/2025", format= "%d/%m/%Y")
child_data["time_delta"] = collect_end - child_data["PersonBirthDate_dt"]
child_data['Age'] = child_data["time_delta"]/ pd.Timedelta(365.25, "d")
child_data['Age'] = child_data["Age"].astype(int)

max_age = child_data["Age"].max()
min_age = child_data["Age"].min()
sum_age = child_data["Age"].sum()
median_age = child_data["Age"].median()
mean_age = chil
print(max_age)
print(min_age)
print(sum_age)
print(median_age)

21
3
3988
12.0

In [186]:
child_data

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,PersonBirthDate_dt,ExpectedPersonBirthDate_dt,PersonDeathDate_dt,time_delta,Age
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,2019-01-06 00:12:00,NaT,NaT,2275 days 23:48:00,6
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,2011-01-27 00:04:00,NaT,NaT,5176 days 23:56:00,14
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,2017-01-06 00:06:00,2019-01-06 00:12:00,NaT,3005 days 23:54:00,8
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,2014-01-03 00:10:00,NaT,NaT,4104 days 23:50:00,11
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,2019-01-25 00:09:00,NaT,NaT,2256 days 23:51:00,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,2010-01-07 00:07:00,NaT,NaT,5561 days 23:53:00,15
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,2018-01-14 00:08:00,NaT,NaT,2632 days 23:52:00,7
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,2021-01-09 00:12:00,NaT,NaT,1541 days 23:48:00,4
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,2013-01-23 00:07:00,NaT,NaT,4449 days 23:53:00,12
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,2021-01-25 00:10:00,NaT,NaT,1525 days 23:50:00,4